

* {
    box-sizing: border-box;
    color: black;
}

body {
    margin: 20px;
    padding: 0;
}


/*************** Nav Bar **************************/


.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
}

.project-title {
    font-size: 1.5rem;
    margin: .5rem;
    padding: .5rem;
    border-style: solid;
}

.navbar-links {
    height: 100%;

}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;



}

.navbar-links li {
    list-style: none;



}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 1rem;
    margin: .5rem;
    border-style: solid;
}



.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
    }





/*************** Button **************************/

.btn{
  display: flex;
  justify-content: space-between;
}


.next {

    background-image: url(images/next.gif);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* put the height and width of your image here */
    height: 39px;
    width: 100px;
    margin: 30px;
    }

  .prev {

        background-image: url(images/prev.gif);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        /* put the height and width of your image here */
        height: 39px;
        width: 100px;
        margin: 30px;
        }


.mydivs {



            margin: auto;
}


.mydivs>div {

            width:auto;
            height:80%;



            overflow-y:auto;
            padding:1em;
            margin: 2% 5% 0% 5%;

            box-sizing:border-box;
            -moz-box-sizing:border-box;
}





        .flex-container {
          /* We first create a flex layout context */
          display: flex;

          /* Then we define the flow direction
             and if we allow the items to wrap
           * Remember this is the same as:
           * flex-direction: row;
           * flex-wrap: wrap;
           */
          flex-flow: row wrap;

          /* Then we define how is distributed the remaining space */
          justify-content: space-around;
          align-content: center;

          padding: 0;
          margin: 0;
          list-style: none;
          border:2px solid black;

        }

        .flex-item {


          width: 33%;
          height: auto;
          margin-top: 5px;
          margin-bottom: 5px;
          padding: 5px;
          /* line-height: 150px; */
          border:1px solid black;
        }

        .flex-medium {


          width: 66%;
          height: auto;
          margin-top: 5px;
          margin-bottom: 5px;
          padding: 5px;
          /* line-height: 150px; */
          border:1px solid black;
        }

        .flex-large {


          width: 100%;
          height: auto;
          margin-top: 5px;
          margin-bottom: 5px;
          padding: 5px;
          /* line-height: 150px; */
          border:1px solid black;
        }

/*************** Team Page **************************/

.team-container {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction
     and if we allow the items to wrap
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content:center;
  align-content: space-around;

  padding: 60px;
  width: 60%;
  margin: auto;
  list-style: none;



}

.team-item {


  width: 48%;
  height: auto;
  margin: auto;
  padding: 2px;
  /* line-height: 150px; */

}



#polaroid {
          max-width: 50%;
          height: auto;
          background-color: white;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          margin-bottom: 25px;
        }


#container {
          text-align: center;
          padding: 10px 20px;
        }



/*************** Scene 1 Lights Animation **************************/
/*
#lights{
  animation: mymove 5s infinite;
}

@keyframes mymove {
  from {background-color: red;}
  to {background-color: blue;}
}
 */

/*************** Responsive **************************/


@media (max-width: 800px) {

  /* Nav bar */
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }



}
#star-yellow {
  visibility: visible;
}
#bottom-lightbulbs-yellow {
  visibility: visible;
}
#top-lightbulbs-red {
  visibility: visible;
}
